<div class="playlist">
    <table class="table table-dark">
        <thead>
        <tr>
            <th>#</th>
            <th>Playlist</th>
            <th>PC</th>
            <th>PS4</th>
            <th>XB1</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Duel</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
        <tr>
            <th scope="row">2</th>
            <td>Doubles</td>
            <td>10/td>
            <td>10/td>
            <td>10/td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Standard</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Solo Standard</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
        </tr>
        </tbody>
    </table>
</div>