<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% include partials/header.ejs%>

    <h1>Rocket League Stats</h1>
    <p>Rocket League is a competitive E-Sport. Check out the who is on top of the leader boards here!</p>
  </body>
</html>
