<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

</head>
<body>
<header></header>
<% include partials/sidebar.ejs %>

<h1>Rocket League Player Lookup</h1>

<!-- Form -->
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Username">
    </div>
    <div class="form-group">
        <select class="form-control" id="platformInput" name="platformId" tabindex="0">
            <option value="1">Steam</option>
            <option value="2">PS4</option>
            <option value="3">XboxOne</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">Rank</th>
        <th scope="col">Username</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td><%= //leader[0]   %></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>


</body>
</html>
