.profile-lookup_container{
    background-color: #212529;
}

h2{
    color: white;
}






.no-padding {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -15px;
    border-right: -15px;
}

.limitbanner{
    height: 400px;
}

.banner{
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav-tabs{
    background-color: #2d3339;
    border-color: #FFD87D;

}
.nav-tabs > li > a:hover{
    background-color: #2d3339;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.a{
    color: white;
}

.nav-link {
    color: white;
}

.active {
    background-color: #71808e !important;
    color: white !important;
    border-color: #2d3339 #2d3339 #FFD87D !important;
}

header {
    width: 100%;
    height: 100px;
    background-image: url("/header.png");
    background-size: cover;
    padding-left: 250px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2B489E;
    color: white;
    text-align: center;
    padding-left: 250px;
}

/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    background: #021039;
    opacity: 1;
}

/* Always take up entire screen */
#page-content-wrapper {
    width: 100%;

    padding-left: 250px;
}

/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

/* Sidebar styling - the entire ul list */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover {
    background: #16A085;
}